<section>
  <%= react_component("WeekCalendar", clientId: ENV['GOOGLE_CLIENT_ID'], apiKey: ENV['GOOGLE_CALENDAR_API']) %>
  <h5>Next 10 events</h5>
  <table class="">
    <thead>
      <tr>
        <th class="">Time</th>
        <th class="">Summary</th>
      </tr>
    </thead>
    <tbody>
      <% @events.items.each do |event| %>
        <tr>
          <td class=""><%= event.start.date_time || event.start.date %></td>
          <td class=""><%= event.summary %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <h5>Busy Times</h5>
  <table class="">
    <thead>
      <tr>
        <th class="">Start Time</th>
        <th class="">End Time</th>
      </tr>
    </thead>
    <tbody>
      <% @busy_times.each do |time| %>
        <tr>
          <td class=""><%= time.start %></td>
          <td class=""><%= time.end %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <h5>Your Tasks</h5>
  <table class="">
    <thead>
      <tr>
        <th class="">Task Name</th>
        <th class="">Duration</th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td class=""><%= task.title %></td>
          <td class=""><%= task.duration %> hours</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
