<%= form_with(model: @task, local: true) do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div class="field">
    <%= form.label :duration %>
    <%= form.number_field :duration, in: 15..180, step: 15 %>
  </div>
  <div class="field">
    <%= form.label :start_date %>
    <%= form.datetime_select :start_date %>
  </div>
  <div class="field">
    <%= form.label :end_date %>
    <%= form.datetime_select :end_date %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
