<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <i class="far fa-calendar-check"></i>
      HabiCal
    </a>
    <% if user_signed_in? %>
      <div class="nav-item dropdown">
        <a class="nav-link pl-1 pr-1" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-bars"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <% if user_signed_in? %>
            <% username = current_user.email.split('@')[0].capitalize %>
            <div class="dropdown-item disabled">
              <span>Welcome, <%= username %>!</span>
            </div>
            <li><hr class="dropdown-divider"></li>
            <%= link_to "Profile", edit_user_registration_path , class: "dropdown-item" %>
            <li><hr class="dropdown-divider"></li>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          <% else %>
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          <% end %>
        </div>
      </div>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "btn btn-outline-primary btn-sm" %>
    <% end %>
  </div>
</nav>
